@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100;1,400&display=swap');

 .button{
    width: 30%;
    padding: 0 15px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    margin: 25px 0 10px;
    color: #fff;
    background: green;
    border: none;
}
.div-form{
    width: 60%;
}
.input_field{
    border: 0;
    font-size: 14px;
    line-height: 30px;
    font-family:Roboto;
    padding-bottom: 18px;
    color: black;
    font-weight: 400;

}
.underline-input{
    margin: 10px 0px 10px 0px;
    border-bottom: 2px solid black;
    
}